#footer {
    background-color: rgb(7, 13, 18);
    text-align: center;
}

#footer a {
    display: inline-block;
    font-size: 35px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}